<div class="masthead">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7 py-5">
        <h1 class="mb-4">Welcome in my portfolio!</h1>
        <h2 class="m-0">Hi! My name is Matheus, welcome to my portfolio, do you want to know a little more about me?
          Choose one of the options on the side!</h2>
      </div>
      <div class="col-lg-5">
        <div class="py-5 px-4 masthead-cards">
          <div class="d-flex">
            <a routerLink="/about" class="w-50 pr-1 pb-4">
              <div class="card border-0 border-bottom-blue shadow-lg shadow-hover">
                <div class="card-body text-center">
                  <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                      <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                      <path
                        d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z" />
                    </svg>
                  </div>
                  About Me
                </div>
              </div>
            </a>
            <a href="https://drive.google.com/file/d/1DxEzjmoy9tKtbqi6_JPPJqX6NQEctbpw/view?usp=sharing" target="blank"
              class="w-50 pl-1 pb-4">
              <div class="card border-0 border-bottom-blue shadow-lg shadow-hover">
                <div class="card-body text-center">
                  <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-file-earmark-font" viewBox="0 0 16 16">
                      <path
                        d="M10.943 6H5.057L5 8h.5c.18-1.096.356-1.192 1.694-1.235l.293-.01v5.09c0 .47-.1.582-.898.655v.5H9.41v-.5c-.803-.073-.903-.184-.903-.654V6.755l.298.01c1.338.043 1.514.14 1.694 1.235h.5l-.057-2z" />
                      <path
                        d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                    </svg>
                  </div>
                  Curriculum
                </div>
              </div>
            </a>
          </div>
          <div class="d-flex">
            <a routerLink="/skills" class="w-50 pr-1">
              <div class="card border-0 border-bottom-blue shadow-lg shadow-hover">
                <div class="card-body text-center">
                  <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                      <path
                        d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z" />
                    </svg>
                  </div>
                  Skills
                </div>
              </div>
            </a>
            <a href="#" class="w-50 pl-1">
              <div class="card border-0 border-bottom-blue shadow-lg shadow-hover">
                <div class="card-body text-center">
                  <div class="text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                      <path
                        d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z" />
                    </svg>
                  </div>
                  Contacts
                </div>
              </div>
            </a>
          </div>
          <div class="shape"></div>
        </div>
      </div>
    </div>
  </div>
  <svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
    <defs>
      <style>
        .a {
          fill: none;
        }

        .b {
          clip-path: url(#a);
        }

        .c,
        .d {
          fill: #7070ff;
        }

        .d {
          opacity: 0.5;
          isolation: isolate;
        }

      </style>
      <clipPath id="a">
        <rect class="a" width="1920" height="75"></rect>
      </clipPath>
    </defs>
    <title>wave</title>
    <g class="b">
      <path class="c"
        d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48">
      </path>
    </g>
    <g class="b">
      <path class="d"
        d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10">
      </path>
    </g>
    <g class="b">
      <path class="d"
        d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24">
      </path>
    </g>
    <g class="b">
      <path class="d"
        d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150">
      </path>
    </g>
  </svg>
</div>
